<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="https://getbootstrap.com/favicon.ico">-->

    <title>loginPage</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}" rel="stylesheet">
    <style type="text/css">
        #centerBody{
            width: 250px;
            height: 150px;
            border:1px solid #F00;
            margin-left: 15px;
            margin-top: 15px;
        }
    </style>
</head>
<body>
     <div id="centerBody">
         username:<input type="text" id="username" value="" />
         password:<input type="password" id="password" value="" />
         &nbsp;&nbsp;<button id="loginBtn">login</button>
     </div>
</body>
<!--jquery-->
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/asserts/js/ajaxhook.min.js}"></script>

<script type="text/javascript" th:src="@{/asserts/js/sysInitArg.js}"></script>
<script type="text/javascript" th:src="@{/asserts/js/jsInterceptor.js}"></script>
<script type="text/javascript">
    $(function () {
        //alert("成功引入jquery!!!");
        $("#loginBtn").click(function () {
            //alert("点击登录按钮");
            var name = $("#username").val();
            var password = $("#password").val();
            if(name == null || name == "" || name == undefined ||
                password == null || password == "" || password == undefined){
                alert("用户名或密码为空！！");
            }else{
                console.log("name="+name+"------password="+password);
                //发送登录请求
                $.ajax({
                    url: projectName+"/login",
                    type: "POST",
                    data:JSON.stringify({"name":name,"password":password}),
                    contentType:"application/json;charset=utf-8",
                    dataType: "json",
                    success: function(result) {
                        console.log("返回结果："+result.code);
                        var resultCode = result.code;
                        if(resultCode == 1){//登录成功
                            console.log("登录成功！");
                            //在LocalStorage中存放token,并跳转
                            localStorage.setItem("token",result.data);
                            window.location.href = projectName+"/test/helloPage";
                        }else{//登录失败
                            alert("用户名或密码错误！");
                        }
                    }
                });
            }
        });
    });
</script>
</html>